<div class="flex flex-row justify-center p-4">
    <mat-form-field class="pr-8 w-96">
        <mat-label>Ingredient Name</mat-label>
        <input type="text"
               placeholder="Search for..."
               matInput
               [formControl]="ingredientInputControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            @for (ingredient of filteredIngredients | async; track ingredient) {
                <mat-option [value]="ingredient">{{ingredient}}</mat-option>
            }
        </mat-autocomplete>
        <mat-hint align="start">Text space to use</mat-hint>
    </mat-form-field>
    <button class="self-center" mat-mini-fab color="primary" (click)="addIngredientToList()">
        <mat-icon>add</mat-icon>
    </button>
</div>