<div class="p-4">
    <label class="text-xl mb-4">Added Ingredients</label>
    <mat-list class="space-y-4">
            @for (ingredient of ingredientList; track ingredient) {
                <div class="bg-[#AFD3E2] border rounded-md shadow-md">
                    <mat-list-item >
                        <div class="flex flex-row">
                            <div class="mr-4">
                                <mat-icon matListItemIcon>menu_book</mat-icon>
                            </div>
                            <div>
                                <div matListItemTitle>
                                    {{ingredient.name}}
                                </div>
                                <div matListItemLine>
                                    <mat-label class="mr-4" >kcal {{ingredient.caloriesPerHundredGrams}}</mat-label>
                                    <mat-label class="mr-4" >fat {{ingredient.fat}} g</mat-label>
                                    <mat-label class="mr-4" >protein {{ingredient.protein}} g</mat-label>
                                    <mat-label class="mr-4" >carbohydrate {{ingredient.carbohydrate}} g</mat-label>
                                    <mat-label class="mr-4" >sugar {{ingredient.sugar}} g</mat-label>
                                    <mat-label class="mr-4" >dietaryFiber {{ingredient.dietaryFiber}} g</mat-label>
                                </div>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
            } @empty {
                <p class="text-gray-500" >
                    No Ingredients added yet
                </p>
            }
    </mat-list>
</div>
